.hide{
    display: none;
}
mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;

}
.search-box{
    display: flex;
    
}
.input{
    justify-content: center;
    width: 95%;
    margin-left: 15px;
   
}
.create{
    color: #fff;
    background-color:teal;
}
 :host ::ng-deep .mat-form-field {
    // color:black;
    // background-color: #fff;
    // border-color:aqua;
    // outline: 0;
    // box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    
    .mat-form-field-underline {
       display: none;
    }
    .mat-form-field-flex{
        background: whitesmoke;
        border-radius: 10px;
        
            i{
                
                margin-bottom: 20px;
            }
            button{
                margin-right: 20px;

            }
        
    }
    .mat-form-field-label{
        margin-left: 5px;
    }
    input{
        margin-bottom: 10px;
        margin-left: 5px;
    }
    
   
}
:host ::ng-deep .mat-form-field {
    // color:black;
    // background-color: #fff;
    // border-color:aqua;
    // outline: 0;
    // box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    
    .mat-form-field-underline {
       display: none;
    }
    .mat-form-field-flex{
        background: whitesmoke;
        border-radius: 10px;
        
            i{
                
                margin-bottom: 20px;
            }
            button{
                margin-right: 20px;

            }
        
    }
    .mat-form-field-label{
        margin-left: 5px;
    }
    input{
        margin-bottom: 10px;
        margin-left: 5px;
    }
    
   
}
:host ::ng-deep .filter{
    .mat-form-field-underline {
        display: block;
     }
     .mat-form-field-flex{
         background: transparent;
         border-radius: 0;
         
             i{
                 
                 margin-bottom: 20px;
             }
             button{
                 margin-right: 20px;
 
             }
         
     }
     .mat-form-field-label{
         margin-left: 0px;
     }
     input{
         margin-bottom: 10px;
         margin-left: 5px;
     }

}