.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-width {
    width: 90%;
  }
  :host::ng-deep .mat-form-field {
    .mat-input-element {
        color: white;
    }
    .mat-form-field-label {
        color: white;
    }
    .mat-form-field-underline {
        background-color: white;
    }
    .mat-form-field-ripple {
        background-color: white;
    }
    .mat-form-field-required-marker {
        color: white;
    }
}
:host ::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: #C5CAE9;
    }
    .mat-form-field-ripple {
        background-color: #C5CAE9;
    }
    .mat-form-field-required-marker {
        color: #C5CAE9;
    }
    .mat-input-element {
        color: #C5CAE9;
    }
}
:host::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        color: #EF9A9A;
    }
    .mat-form-field-label {
        color: #EF9A9A;
        .mat-form-field-required-marker {
            color: #EF9A9A;
        }
    }
    .mat-form-field-ripple {
        background-color: #EF9A9A;
    }
}
button {
    
    background-color: #009688 !important;
    color: #ffffff;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    
  }
  

  
  button:disabled,
  button[disabled]{
   
    background-color: #E0F2F1 !important;
    color: #666666;
  }