.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-width {
    width: 90%;
  }
  :host::ng-deep .mat-form-field {
    
}
:host ::ng-deep .mat-form-field.mat-focused {
    
}
:host::ng-deep .mat-form-field.mat-form-field-invalid {
    
}
mat-toolbar{
  display: inline;
}
.updateProduct{
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 15px
}